@{
    ViewData["Title"] = "Home Page";
}

<div class="row header-padding">
    <h1>Docker Linking using Docker-Compose</h1>
</div>

<div class="row">
    
    @using (Html.BeginForm("SendMessage", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.Label("Message", "Message", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("messageTextBox", "Test", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Send" class="btn btn-default"/>
        </div>
    </div>
    
}
    
</div>
